footer {
  padding: 1em 0; }

.consulta{
  background: #ffffff;
  
}
.footer-07 {
  background: #ffffff; }
  .footer-07 a {
    color: rgba(0, 0, 0, 0.6); }
  .footer-07 p {
    color: rgba(0, 0, 0, 0.6); }
  .footer-heading {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
     }
    .footer-07 .footer-heading .logo {
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
       }
  .footer-07 .menu {
    margin-bottom: 30px; }
    .footer-07 .menu a {
      color: rgba(0, 0, 0, 0.6);
      margin: 0 10px;
      text-transform: uppercase;
      letter-spacing: 1px; }
  .footer-07 .ftco-footer-social li a {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.6); }
.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    background: blue;
    border-radius: 50%;
    position: relative; }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .ftco-footer-social li a:hover {
      color: yellow; }


  .contenido-index{
  height: 400px;

